<style>
  .button-grey {
    
  }
  
  .player {
    width: 600px;
    outline: 1px solid #000;
  }
  
  .player .thumbnail {
    width: 100px;
    height: 100px;
    background: #000;
    float: left;
  }
  
  .player .play-button {
    width: 30px;
    height: 100px;
    margin-left: 5px;
    background: #ccc;
    float: left;
  }
  
  .player .track-details .track-title {
    display: block;
    font-size: 16px;
  }
  
  .player .track-details .track-artist {
    color: #39f;
  }
  
  .player .track-details .track-uploaded {
    color: #ccc;
  }
  
  .share-button-list {
    list-style: none;
  }
  .share-button-list li {
    float: left;
    margin-left: 10px;
  }
  
</style>





<div class="player">
  <div class="thumbnail"></div>
  <div class="play-button"></div>
  <div class="info">
    <div class="track-details">
      <span class="track-title">Yesterday</span>
      <span class="track-by">By</span>
      <a class="track-artist">Beatles</a>
      <span class="track-uploaded">10 hours ago</span>
    </div>
    <div class="share-buttons">
      <ul class="share-button-list">
        <li><button class="button-grey">Download</button></li>
        <li><button class="button-grey">Download</button></li>
        <li><button class="button-grey">Download</button></li>
        <li><button class="button-grey">Download</button></li>
      </ul>
      
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


